.chat-container {
  /* background-color: green; */
}

.header {
  background-color: purple;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-panel {
  background-color: rgb(126, 123, 123);
  position: fixed;
  width: 200px;
  height: 90vh;
  top: 0;
  left: 0;
  margin-top: 50px;
}
.message-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 900px;
  height: 79vh;
  margin: auto;
  position: relative;
}
.icon {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: #e38968;
  margin-right: 6px;
}
